/* CSS Variables */
:root {
    --primary-font: "Red hat Text", sans-serif;
    --secondary-font: "Lexend Giga", sans-serif;
    --primary-color: #121e2e; /* dark blue */
    --secondary-color: #ebbc84; /* beige */
    --highlight-color: #60707d; /* Tomato */
    --tertiary-color: #ca731f; /* Tomato */
}


/* wildcard selector*/
* {
    border: solid 1px red;
}

/* General Styles */

html {
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;

}

/* Navbar Styles */
#navbar {
  background-color: var(--primary-color);
  z-index: 1000; /* Ensure navbar is above other content */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); /* Add subtle shadow */
  
}

#navbar .logo {
  width: 50px; /* Adjust as needed */
}

/* Header Section */

.hero {
     background-color: var(--primary-color); 
     position: relative;
      width: 100%;
      height: 100vh;
      background-image: url('/assets/images/hero-calm.jpg'); /* Replace with your image path */
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .hero-text {
      position: absolute;
      text-align: center;
      margin-top: -15%;
    }

    .hero-text h1 {
      font-size: 3rem;
      margin-bottom: 5rem;
    }

    .hero-text p {
      font-size: 1.25rem;
    }

    /* Section Styles */

    /* Section 1 Styles */
    #welcome .card {
      border: 2px solid var(--highlight-color);
      background-color: var(--secondary-color);
      margin-bottom: 1.5rem;
      }

      /* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
    transition: color 0.3s ease; /* Smooth transition effect */
}

#social-networks i:hover {
    color: var(--tertiary-color);
}

      /* Media Queries */
      @media screen and (min-width: 768px) {
        #welcome .card-body {
          min-height: 200px; /* Set a minimum height */
        }
      }

      @media screen and (min-width: 992px) {
        #welcome .card-body {
          min-height: auto; /* Set a auto height at larger screen sizes */
        }
      }