/* CSS Variables */
:root {
    --primary-font: "Red hat Text", sans-serif;
    --secondary-font: "Lexend Giga", sans-serif;
    --primary-color: #121e2e; /* dark blue */
    --secondary-color: #ebbc84; /* beige */
    --highlight-color: #60707d; /* Tomato */
    --tertiary-color: #ca731f; /* Tomato */
}


/* wildcard selector
* {
    border: solid 1px red;
}*/

/* General Styles */

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-transform: uppercase;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;

}

/* Navbar Styles */
#navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 1000; /* Ensure navbar is above other content */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); /* Add subtle shadow */
  
}

#navbar .logo {
  width: 60px; /* Adjust as needed */
}

/* Header Section */
#header {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;

}




#header .lead {
  font-family: var(--primary-font);
}