/* CSS Variables */
:root {
    --primary-font: "Red hat Text", sans-serif;
    --secondary-font: "Lexend Giga", sans-serif;
    --primary-color: #121e2e; /* dark blue */
    --secondary-color: #ebbc84; /* beige */
    --highlight-color: #60707d; /* Tomato */
    --tertiary-color: #ca731f; /* Tomato */
}

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  text-transform: uppercase;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
}
